.c7ncd-select-custom {
  width: 200px;
  height: 80px;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  .icon {
      display: none;
  }
}
.c7ncd-Icon-containner {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #5365ea;
  position: absolute;
  right: 0;
  .icon {
    position: absolute;
    top: -20px;
    left: -12px;
    font-size: 8px;
    color: white;
  }
}
.c7ncd-select-custom-active {
  width: 200px;
  height: 80px;
  border-radius: 4px;
  position: relative;
  border: 2px solid #5365ea;
}
.c7ncd-Icon-containner-none {
    display: none;
}
