@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-pipelineManage-variable-settings {

  &-reveal {
    margin-bottom: .2rem;
    font-weight: 500;
    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    .@{c7n-prefix}-ripple-wrapper {
      display: none;
    }
  }

  &-equal {
    font-size: 24px;
    color: var(--text-color4);
    text-align: center;
    line-height: .48rem;
  }

  &-failed-text {
    color: #f44336;
    margin-top: .3rem;
  }

  &-add-btn {
    display: block;
  }

  .@{c7n-pro-prefix}-textarea-float-label textarea.@{c7n-pro-prefix}-textarea {
    min-height: .48rem;
    height: 0.48rem;
  }
}
