.c7ncd-theme4-version {
  position: relative;
  top: 50px;
  &-item {
    padding: 10px 12px;
    background: #f5f6fa;
    border-radius: 4px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    &-side {
      width: 50%;
      display: flex;
      align-items: center;
    }
    &-version {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
      color: #0f1358;
      width: calc(100% - 32px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-text {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
      color: rgba(15, 19, 88, 0.45);
    }
    &-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      &-viewId {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #0f1358;
      }
      &-around {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: rgba(15, 19, 88, 0.45);
        margin-left: 10px;
      }
      &-versionType {
        font-size: 10px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        padding: 0 4px;
      }
      &-version {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #0f1358;
      }
    }
  }
}
