.c7ncd-theme4-version {
  margin-top: 16px;
  &-unfold {
    border-left: 1px solid var(--divider);
    border-right: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    padding: 8px 16px;
    &-list {
      color: var(--text-color);
      font-size: 13px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
    }
  }
  &-item {
    padding: 10px 6px;
    background: #f5f6fa;
    border-radius: 4px;
    margin-top: 14px;
    display: flex;
    align-items: center;
    &-side {
      width: 50%;
      display: flex;
      align-items: center;
      color: #0f1358;
      &-drop {
        font-size: 24px;
        cursor: pointer;
      }
    }
    &-nodata {
      width: 150px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 40px;
    }
    &-nodataText {
      font-size: 16px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--text-color3);
      text-align: center;
      margin-top: 23px !important;
    }
    &-version {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
      color: #0f1358;
      width: calc(100% - 32px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &-text {
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC, sans-serif;
      font-weight: 400;
    }
    &-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      &-viewId {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #0f1358;
      }
      &-around {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: rgba(15, 19, 88, 0.45);
        margin-left: 10px;
      }
      &-versionType {
        font-size: 10px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        padding: 0 4px;
      }
      &-version {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC, sans-serif;
        font-weight: 400;
        color: #0f1358;
      }
    }
  }
}
