.c7ncd-operationYaml {
  &-title {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    position: absolute;
  }
  &-others {
    position: relative;
    margin-top: 30px;
  }
  .c7ncd-editor-tools {
    display: flex;
    justify-content: end;
  }
}
