@prefixCls: c7ncd-host-config;

.@{prefixCls}-content-list {

  &-item {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #b7d5f0;
    cursor: pointer;

    &-selected {
      border: 2px solid var(--primary-color);
    }

    &-disabled {
      border: 1px solid #d9dbe6;
      cursor: default;
    }

    &-header {
      display: flex;
      position: relative;
      justify-content: center;
      background: rgba(104, 135, 232, 0.04);
      padding: 0.07rem 0.04rem 0.06rem 0;
      &-left {
        &-top {
          display: flex;
          align-items: center;
          justify-content: center;
          &-name {
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC, sans-serif;
            font-weight: 400;
            color: #3a345f;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 0.9rem;
            line-height: 0.38rem;
          }
        }
      }
      &-right {
        position: absolute;
        right: 0;
      }
    }
    &-main {
      padding: .12rem 0.16rem;

      &-item {
        display: flex;
        flex-direction: column;
        span:first-of-type {
          font-size: 12px;
          color: rgba(58, 52, 95, 0.54);
        }
        span:nth-of-type(2) {
          margin-top: 2px;
          color: var(--text-color);
        }
        & + & {
          margin-top: .07rem;
        }
      }
    }
  }
}
