@import "~choerodon-ui/lib/style/themes/default";
.c7ncd-create-network .c7n-pro-validation-message {
  position: relative !important;
}
.c7ncd-create-network {
  width: 340px;
  .c7n-pro-input-multiple-input {
    padding: 0;
  }
  .network-panel-title {
    height: 0.22rem;
    font-size: 0.16rem;
    color: #000;
    line-height: 0.22rem;
    margin-bottom: 0;
    margin-top: 0.21rem;
  }

  .network-panel {
    margin-bottom: 0.32rem;
  }
  .network-panel-target-select {
    margin-bottom: -0.14rem;
    & option {
      margin-right: 50px;
    }
  }
  .type-span {
    margin-right: -0.05rem;
  }
  .target-instance {
    margin-right: 0.065rem;
  }
  .c7ncd-customSelect-container {
    width: 50%;
  }
  .group-port {
    width: 330px;
    .externalIps {
      width: 100%;
    }
  }

  .target-form {
    .app-instance-select {
      width: 100%;
      margin-top: 26px;
    }
    .app-service-isChartType {
      display: flex;
      width: 100%;
      margin-bottom: 25px;
      .app-service-isChart-content {
        margin: 18px 10px;
      }
      .c7ncd-customSelect-container {
        border-radius: 4px;
        border: 1px solid #d9e6f2;
      }
      .c7ncd-customSelect-container:nth-child(1) {
        margin-right: 10px;
      }
    }
    .app-service-select {
      width: 100%;
    }
    .@{c7n-pro-prefix}-input-multiple {
      width: 100%;
    }
    .endpoints-form {
      .endpoints-group {
        margin-top: 0.27rem;
        .delete-icon {
          position: unset;
          margin-left: 0.12rem;
        }
      }

      &-add {
        margin-top: 0.27rem;
      }
    }
  }

  .type-form {
    margin-bottom: -0.16rem;
  }

  .network-group-icon,
  .delete-icon-target {
    position: relative;
    font-size: 0.18rem;
  }

  .delete-icon {
    position: relative;
    font-size: 0.18rem;
    top: 0.06rem;
    width: unset;
    &.icon-delete {
      cursor: pointer;
    }
  }

  .hr {
    width: 380px;
    margin-left: -0.25rem;
    border-bottom: 0.01rem solid #e0e0e0;
    margin-top: 9px;
  }
  .label-form {
    margin-top: -0.07rem;
  }

  &-appService {
    display: flex;

    &-text {
      margin-left: 0.08rem;
    }
  }
}

.c7ncd-instance-status-icon {
  color: #f44336;
  margin-left: 0.02rem;
  vertical-align: text-bottom;
}
