.c7ncd-custom {
  &-header {
    &-placeholder {
      height: 40px;
      overflow: hidden;
      background: transparent;
      border-bottom: 1px solid #d3d3d3;
    }
  }
}
.c7ncd-cluster-main {
  .c7ncd-header-btns {
    top: -48px;
    margin-left: 2px;
  }
}
