.c7ncd-delete-wrap {
  padding-top: 8px;

  .c7ncd-delete-check {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;

    .c7ncd-captcha-form {
      flex: 1;
      min-width: 100px;
    }

    .c7ncd-captcha-btn {
      margin-top: 6px;
      margin-left: 12px;
    }
  }

  .c7ncd-captcha-error {
    color: #f44336;
  }
}

.c7ncd-deletion-modal {
  .c7n-modal-header {
    padding: 0.2rem 0.2rem 0 0.2rem;

    .c7n-modal-title {
      overflow: auto;
      color: #0f1358;
      font-weight: 500;
      font-size: 0.2rem;
      line-height: 0.32rem;
    }
  }
  .c7n-modal-body {
    padding: 0 0.2rem 0.2rem 0.2rem;
    margin: 0;
  }

  .c7n-modal-content {
    padding: 0 !important;
  }
  .c7n-modal-footer {
    padding: 0.2rem;
    border-top: 1px solid #d9e6f2;
    left: 0;
    text-align: right;
  }
}
