.c7ncd-app-center-appStatus {
  &-status {
    .c7ncd-tag {
      position: relative;
    }
    font-size: 0.16rem !important;
    margin-left: 7px;
    bottom: 1px;
    position: relative;
    &-failed {
      color: #f76776;
      margin-left: 4px;
    }
    &-operating,
    &-running {
      .c7n-progress {
        width: fit-content;
        height: fit-content;
      }
      .c7n-progress-inner {
        width: 17px;
      }
    }
    .c7ncd-status-tag {
      min-width: 0.2rem !important;
    }
  }
}
