.c7ncd-app-center-appStatus{
  &-status {
    margin-left: 7px;
    &-failed {
      color: #f76776;
      margin-left: 4px;
    }
    &-operating,
    &-running {
      .c7n-progress {
        width: fit-content;
        height: fit-content;
      }
      .c7n-progress-inner {
        width: 17px;
      }
    }
  }
}