@prefixCls: c7ncd-app-center-appDetail;

.@{prefixCls} {
  &-content {
    display: flex;
    padding: 0 !important;
    background-color: #f5f6fa !important;
    overflow: visible;
    max-height: calc(100% - 70px);
  }
}
