.c7ncd-addCDTask-deployChart {
  margin-top: 16px;
  &__title {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    white-space: nowrap;
  }
  &__form {
    margin-top: 16px;
  }
  &__configContent {
    display: flex;
    align-items: center;
    form {
      margin-left: 11px;
    }
    position: relative;
  }
  &__divided {
    width: calc(100% + 0.48rem);
    height: 1px;
    background: var(--divider);
    margin-left: -0.24rem;
    margin-bottom: 0.15rem;
  }
  &__anotherField {
    label {
      height: 32px;
      .c7n-pro-select-prefix {
        width: auto;
        top: 7px;
        left: 10px;
      }
      input {
        padding-top: 0 !important;
        bottom: 10px !important;
        position: relative !important;
        height: 32px !important;
        min-height: 32px !important;
        margin-left: 50px !important;
      }
    }
  }
}
