.c7ncd-dockerComposeDetail {
  padding: 8px 0;
  &-title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 16px;
  }
  &-nameRender {
    display: flex;
    p {
      margin-bottom: 0;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
