.pipeline_createInfo {
  border-radius: 0.04rem;
  padding: .08rem .15rem;
  margin-top: 20px;
  width: fit-content;
  margin-left: 35px;
  border: 1px solid rgb(255, 204, 199);
  background: rgb(254, 239, 241);
  color: rgba(15, 19, 88, 0.85);
  line-height: .2rem;

  &-icon {
    color: rgba(247, 103, 118, 1);
    vertical-align: text-bottom;
    margin-right: 0.08rem;
  }
}
.advanced_text {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.border-advanced-content {
  content: "";
  position: absolute;
  left: -25px;
  height: 1px;
  width: 107%;
  background-color: #d8d8d8;
}
.border-advanced {
  position: relative;
  padding: 26px 0;
  &::before {
    top: 0;
    .border-advanced-content;
  }
  //&::after {
  //  bottom: 0;
  //  .border-advanced-content
  //}
}
.border-advanced-after {
  position: relative;
  padding: 26px 0;
  &::after {
    bottom: 0;
    .border-advanced-content;
  }
}
