.c7ncd-cluster-polaris-wrap {
  padding: .16rem .02rem;
  position: relative;
  &-btn {
    width: .92rem;
    box-shadow: 0 2px 4px 0 rgba(106, 117, 203, 0.6);
    border-radius: .06rem;
    position: absolute;
  }

  .c7n-tabs.c7n-tabs-card > .c7n-tabs-bar > .c7n-tabs-nav-container .c7n-tabs-nav .c7n-tabs-tab.c7n-tabs-tab-active {
    color: #5266d4 !important;
  }
}
