.c7ncd-cardPagition {
  .c7n-pro-pagination-pager-first,
  .c7n-pro-pagination-pager-last {
    display: none;
  }
  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(83, 101, 234, 0.08);
    i {
      color: #5365ea;
    }
  }
  .c7n-pro-btn-disabled {
    border: 1px solid #d9dbe6;
    background: #fff;
    i {
      color: rgba(15, 19, 88, 0.25);
    }
  }
  button + button {
    margin-left: 24px !important;
  }
}
