.c7ncd-pv-create-wrap {

  &-permission {
    font-size: .16rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--divider);
    padding: .2rem .2rem 0.1rem;
    margin: .2rem -0.2rem 0;
  }

  &-radio {
    width: 1.2rem;
    display: inline-block;
  }

  &-label {

    &-title {
      font-size: .16rem;
      margin: .15rem 0 .1rem;
    }

    &-equal {
      font-size: 24px;
      color: var(--text-color4);
      text-align: center;
      line-height: 0.48rem;
    }
  }

  &-delete-btn {
    margin-top: .08rem;
  }
}

.c7ncd-pv-project-add {

  &-item {
    display: flex;
    align-items: center;
  }

  &-button {
    margin-bottom: .16rem;
    flex-shrink: 0;
  }
}
