.c7ncd-createTrigger {
  &-title {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--text-color);
  }
  &-config {
    i {
      margin-left: 6px;
      position: relative;
      bottom: 1px;
    }
  }
  &-customSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .c7ncd-customSelect-container {
      flex: 1;
      border: 1px solid #d9e6f2;
      border-radius: 4px;
    }
    .c7ncd-customSelect-container:nth-child(2) {
      margin-left: 20px;
    }
    &-item {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
    }
  }
}
