.c7ncd-appCenterPro-conGroup {
  p {
    margin: 0;
  }
  &__item {
    padding: 13px 10px;
    border-bottom: 1px solid var(--divider);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    i {
      color: #abbccf;
    }
    &__down {
      margin-left: 9px;
    }
  }
  &__item--focus {
    background: rgba(104, 135, 232, 0.08);
  }
  &__item:hover {
    background: rgba(104, 135, 232, 0.08);
  }
}
