@import '~choerodon-ui/lib/style/themes/default';

@prefixCls: c7ncd-app-center-detail;

.@{prefixCls} {
  overflow: visible;

  .@{prefixCls} {

    &-header {
      display: flex;
      align-items: center;
      color: var(--text-color3);
      font-size: .14rem;
      line-height: .22rem;

      &-name {
        font-weight: 500;
        line-height: .24rem;
        font-size: .16rem;
        margin: 0 .06rem 0 .04rem;
        color: var(--text-color);
      }
    }

    &-env {
      margin: .16rem 0 0;

      .@{c7n-pro-prefix}-select-prefix {
        width: auto;
        line-height: .2rem;
        left: .1rem;
      }
      .@{c7n-pro-prefix}-select-suffix-button .@{c7n-pro-prefix}-select-rendered-value {
        padding-left: .45rem;
      }
      .@{c7n-pro-prefix}-select:not(textarea):not(:first-child) {
        padding-left: .45rem;
      }
    }

    &-tabs {
      overflow: visible;
    }
  }

  .c7ncd-header-btns {
    top: -1.83rem;
    left: .1rem;
  }
}
