.c7ncd-advanced-setting {
  &__form {
    margin-top: 15px;
    &__share {
      .c7n-pro-select-box {
        width: 100%;
        label {
          width: 50%;
        }
      }
    }
  }
  &-tips {
    margin-top: 12px;
    padding: 10px 12px;
    background: #fef6e7;
    border-radius: 4px;
    border: 1px solid #ffe58f;
    display: flex;
    align-items: flex-start;
    &-info {
      color: #faad14;
      //width: 16px;
      //height: 16px;
    }
    &-content {
      margin-left: 8px;
    }
    p {
      margin-bottom: 0;
      font-size: 13px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: rgba(15, 19, 88, 0.85);
      span {
        cursor: pointer;
        color: var(--primary-color);
        margin: 0 5px;
        i {
          bottom: 1px;
          font-size: 15px;
          position: relative;
        }
      }
    }
  }
}
