.c7ncd-hostGuide {
  p {
    margin: 0;
  }
  &-divided {
    margin-bottom: 32px;
  }
  &-title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 12px !important;
  }
  &-phrase {
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(15, 19, 88, 0.65);
  }
}
