.c7ncd-closeModal {
  &__p {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
    i {
      margin-right: 6px;
      font-size: 20px;
    }
  }
}
