/*stylelint-disable*/
.c7ncd-host-config-permission {
    &-select-item {
        padding: 16px;
        cursor: pointer !important;
        border: 1px solid #D9E6F2;
        border-radius: 4px;
        margin-bottom: 11px;
        h4 {
            font-family: PingFangSC-Medium;
            color: #0F1358;
            font-size: 0.15rem;
        }
        p {
            color: #898BAC;
        }
    }
}