.c7ncd-app-center-logo {

  &-project {
    background: url(./images/project.svg);
  }
  &-share {
    background: url(./images/share.svg);
  }
  &-market {
    background: url(./images/market.svg);
  }
  &-hzero {
    background: url("./images/hzero.svg");
  }
}
