@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-template-form {

  .@{c7n-pro-prefix}-select-box {
    width: 100%;

    .@{c7n-pro-prefix}-radio-wrapper {
      width: 50%;
    }
  }

  .@{c7n-pro-prefix}-select-box-wrapper {
    margin: .15rem 0 0;
  }
}
