@import '~choerodon-ui/lib/style/themes/default';

.c7ncd-deploy-manual-deploy {
  .c7n-pro-select-box {
    width: 100%;
    display: flex;
    align-items: center;
    //justify-content: space-between;
  }
  &-title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC, sans-serif;
    font-weight: 500;
    color: var(--text-color);
  }

  &-divided {
    width: calc((100% + 38px) * 1.25);
    height: 1px;
    background: var(--divider);
    margin-left: -23px;
    margin-bottom: 22px;
  }
  .c7ncd-deploy-resource-config {

    &:hover {
      cursor: pointer;
    }

    &-title {
      font-size: .16rem;
      font-weight: 500;
    }

    &-icon {
      font-size: .24rem;
      margin-left: .1rem;
    }

    &-network {
      font-size: .15rem;
      font-weight: 500;
      margin-top: .16rem;
      padding-top: .16rem;
      border-top: 1px solid var(--divider);

      &-icon {
        font-size: .24rem;
        margin-right: .1rem;
      }
    }
  }

  .c7ncd-deploy-resource-display {
    display: none;
  }

  .c7ncd-deploy-resource-content {
    margin-top: .12rem;
  }

  &-radio {
    margin-right: .65rem;

    & > img {
      vertical-align: text-bottom;
      padding-right: .04rem;
    }
  }

  .c7ncd-deploy-resource-network,
  .c7ncd-deploy-resource-domain {
    width: 66.66%;
  }

  .c7ncd-deploy-resource-delete-btn {
    width: .32rem;
  }

  .c7ncd-deploy-resource-mgt-12 {
    margin-top: .12rem;
  }

  .c7ncd-deploy-resource-radio {
    margin-right: .3rem;
  }

  .c7ncd-deploy-resource-domain-annotation {

    &-title {
      font-size: .16rem;
      margin: .15rem 0 .1rem;
    }

    &-equal {
      font-size: 24px;
      color: var(--text-color4);
      text-align: center;
      line-height: .48rem;
    }

    .@{c7n-pro-prefix}-textarea-float-label textarea.@{c7n-pro-prefix}-textarea {
      min-height: .48rem !important;
    }
  }

  .c7n-pro-validation-message {
    white-space: nowrap;
  }

  &-market-btn {
    font-weight: 500;
    color: #5365ea;
    background: rgba(83, 101, 234, 0.08);
    border-radius: 6px;
    width: auto;

    &-link {
      color: #5365ea;

      &:hover,
      &:focus {
        color: #5365ea;
        text-decoration: none;
      }
    }
  }
}

.c7ncd-deploy-select-option-text {
  margin-left: .02rem;
}

.testConnectCD {
  font-size: 15px;
  font-family: PingFangSC-Regular, PingFang SC, sans-serif;
  font-weight: 400;
  color: rgba(58, 52, 95, 0.76);
  line-height: 28px;
  width: 340px;
  height: 42px;
  border-radius: 4px;
  border: 1px dashed rgba(104, 135, 232, 1);
  display: inline-flex;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  .c7n-progress-inner {
    width: 20px;
    margin-left: 12px;
  }
}
