body[data-theme=theme4] {
  .c7ncd-custom-header-placeholder {
    display: none;
  }
  .c7ncd-cluster-sidebar {
    background: white;
  }
  .c7ncd-cluster-main {
    .c7ncd-header-btns {
      top: -50px;
      right: 0;
      text-align: right;
      z-index: 20;
    }
  }
}
