@prefixCls: c7ncd-host-config;

.@{prefixCls}-content {
  padding: 0 !important;
  background: #f5f6fa !important;

  &-wrap {
    background: #fff;
    display: flex;
    height: 100%;
    overflow-y: scroll;
  }

  &-tab {
    flex-shrink: 0;
    margin: .1rem .3rem .1rem 0;
  }
}
