.c7ncd-host-config-command-manual {

  &-label {
    font-size: .12rem;
    font-weight: 500;
    color: #4a5c90;
  }

  &-tips {
    height: auto !important;

    &-info {
      .icon-info:before {
        content: "\e88e" !important;
        color: #d50000 !important;
      }
    }
  }

  &-title {
    font-size: .12rem;
    font-weight: 500;
    line-height: .2rem;
    margin: .1rem .06rem;
  }

  &-content {
    background: #f5f6fa;
    border-radius: 4px;
    padding: .12rem .12rem .48rem;
    color: rgba(15, 19, 88, 0.85);
    position: relative;
    word-break: break-all;
    line-height: 20px;

    & > pre {
      margin: 0;
      padding: 0;
      color: rgba(15, 19, 88, 0.85);
      font-size: 13px;
      line-height: 20px;
    }

    &-mgb {
      margin-bottom: .32rem;
    }
  }

  &-copy {
    position: absolute;
    right: 0.04rem;
    bottom: 0.16rem;

    & > .icon {
      font-size: .2rem !important;
    }
  }
}
