.c7ncd-appCenterPro-conConfig {
  display: flex;
  align-self: center;
  width: 100%;
  flex: 1;
  &__conGroup {
    width: 300px;
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--divider);
  }
  &__conDetail {
    flex: 1;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--divider);
  }
}
