@import '~choerodon-ui/lib/style/themes/default';
@import "./default";

.c7ncd-root {
  // 表格名称可点击列样式
  .table-link {
    color: @primary-color;
    cursor: pointer;

    &:hover {
      color: @primary-color;
      text-decoration: underline;
    }
  }

  .@{c7n-pro-prefix}-table {
    .@{c7n-pro-prefix}-table-tbody {
      color: @TABLE_FONT_COLOR;

      .c7ncd-userinfo-name {
        color: @TABLE_FONT_COLOR;
      }
    }
  }

  .@{c7n-prefix}-table-body {
    .@{c7n-prefix}-table-tbody {
      color: @TABLE_FONT_COLOR;

      .c7ncd-userinfo-name {
        color: @TABLE_FONT_COLOR;
      }
    }
  }

  .c7ncd-tab-table {
    margin-top: -.16rem;

    .@{c7n-pro-prefix}-table-filter-select {
      border-top: none !important;
    }

    .@{c7n-prefix}-table-filter-select {
      border-top: none !important;
    }
    .@{c7n-pro-prefix}-table {
      border-top: none;
    }
  }
}

// 用于暂时隐藏select的分页加载按钮
.c7ncd-select-menu-item-more-hidden {
  .@{c7n-pro-prefix}-select-dropdown-menu-item-more {
    display: none;
  }
}

// 修复列表右侧筛选列的dropdown中，带有问号提示的title样式
.@{c7n-pro-prefix}-table-columns-chooser-dropdown-menu-item-selected {
  .c7ncd-tips-wrap {
    display: inline-flex;
  }
}

// 设置Select组件分页加载更多样式
.c7ncd-select-load-more-text {
  text-align: left;
  color: #3f51b5;
  display: block;
}

// 弹窗表单内部的分割线样式
.c7ncd-form-divider {
  color: var(--divider);
  width: calc(100% + .4rem);
  padding: 0 .2rem;
  margin: 0.1rem -0.2rem .24rem;
}

// 多组表单项总删除按钮样式
.c7ncd-form-record-delete-btn {
    margin-top: .08rem;
}
