.c7n-branch-theme4 {
  &-page {
    top: 125px !important;
    background: white;
    margin: 0 16px;
    height: 83% !important;
    z-index: 100;
    width: 97%;
  }
  &-table {
    thead {
      display: none;
    }
    &-column {
      display: flex;
      align-items: center;
      color: var(--text-color3);

      &-side {
        &-line {
          display: flex;
          align-items: center;
          &-userIssue {
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC, sans-serif;
            font-weight: 400;
            color: rgba(15, 19, 88, 0.65);
            line-height: 20px;
          }
          &-firstLetter {
            font-size: 10px;
            font-family: PingFangSC-Regular, PingFang SC, sans-serif;
            font-weight: 400;
            color: #5365ea;
            line-height: 16px;
            padding: 0 4px;
            background: #f0f5ff;
            border-radius: 4px;
            border: 1px solid #adc6ff;
            margin-left: 10px;
            margin-right: 7px;
          }
          &-branchName {
            font-size: 13px;
            font-family: PingFangSC-Medium, PingFang SC, sans-serif;
            font-weight: 500;
            cursor: pointer;
            color: var(--table-click-color);
          }
          a {
            margin-left: 10px;
          }
          &-commitContent {
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC, sans-serif;
            font-weight: 400;
            color: rgba(15, 19, 88, 0.65);
            margin-left: 10px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          img {
            width: 16px;
            border-radius: 50%;
            margin-left: 10px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
