@prefixCls: c7ncd-app-center-homepage;

.@{prefixCls}-content {
  padding: 0 0 60px 0 !important;
  background: #f5f6fa !important;

  .c7ncd-empty-page-wrap {
    height: auto;
    background: transparent;
  }
}
