@prefixCls: c7ncd-app-center-appMonitor;

.@{prefixCls} {
   &-empty{
     text-align: center;
     margin-top:60px;
     &-content,&-content1{
      font-size: 16px;
      font-weight: 400;
      color: #0F1358;
     }
     &-content{
      margin-top:32px;
     }
     &-content1{
      justify-content: center;
       display: flex;
       align-items: center;
     }
   }
   &-spin{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top:60px;
   }
}