.c7ncd-stepTitle {
  margin-top: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
  }
  &__title {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
  }
}
