.c7ncd-app-center-list {

  &-search {
    display: flex;
    background: #fff;
    overflow: hidden;
    align-items: center;
    padding: 0 .12rem;

    &-tab {
      flex-shrink: 0;
      margin: .1rem .3rem .1rem 0;
    }

    &-form-wrap {
      display: flex;
      align-items: center;
      max-width: 60%;
      margin-left: auto;
    }

    &-env {
      padding-left: .06rem;
    }
  }
}
