body[data-theme=theme4] {
  .c7ncd-deployment-sidebar {
    background: white;
  }
  .c7ncd-header-btns {
    text-align: right;
    top: -49px;
  }
  .c7ncd-custom-header-placeholder {
    display: none;
  }
}

