.c7ncd-app_detail-instance {
  &-header {
    display: flex;
    align-items: center;
  }
  &-version {
    width: 50%;
    margin-right: 15px;
  }
  &-img {
    margin-top: 50px;
    img {
      width: 394px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    p {
      font-size: 24px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--text-color2);
      text-align: center;
      margin-top: 23px;
    }
  }
}
