@import "~choerodon-ui/lib/style/themes/default";

.c7ncd-header {
  &-btns {
    z-index: 1;
    position: absolute;
    top: -1.05rem;
    left: 0;
    padding-left: 0.24rem;
    width: 100%;
    height: 0.39rem;
    //line-height: .36rem;
    line-height: 0.39rem;
    overflow: hidden;

    .@{c7n-pro-prefix}-btn + .@{c7n-pro-prefix}-btn {
      margin-left: 0.2rem;
    }

    .@{c7n-pro-prefix}-btn {
      padding: 0.03rem 0.1rem 0.04rem 0.1rem !important;
    }
  }

  &-action {
    color: rgb(63, 81, 181);
    width: 24px !important;
    height: 24px !important;
    text-align: center;
    padding: 0;
    > i {
      margin-right: 0 !important;
      width: 100%;
    }
  }

  &-btn {
    height: 0.28rem !important;
    line-height: 0.21rem !important;
    white-space: nowrap;
    font-weight: 500 !important;
  }

  &-split {
    margin: 0 0.2rem !important;
    height: 0.2rem !important;
    background: rgba(0, 0, 0, 0.2) !important;
  }
}
