.c7ncd-deployment-instance-market {

  &-btn {
    font-weight: 500;
    color: #5365ea;
    background: rgba(83, 101, 234, 0.08);
    border-radius: 6px;
    width: auto;

    &-link {
      color: #5365ea;

      &:hover,
      &:focus {
        color: #5365ea;
        text-decoration: none;
      }
    }
  }
}
