@prefixCls: ~"c7ncd-app-pipeline-edit";

.@{prefixCls} {
  &-tabs {
    margin: 10px auto 0;
    > .c7n-tabs-bar {
      border-bottom: unset !important;
    }
  }
  &-content {
    overflow: hidden;
    &-bgnone {
      background: unset;
    }
  }
}
