@prefixCls: ~"c7ncd-ci-varias-configs";

.@{prefixCls} {
  width: 60%;
  &-textfiels {
    textarea {
      min-height: 25px !important;
      height: 25px !important;
    }
  }
  &-equal {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    line-height: 44px;
    text-align: center;
  }
  > header {
    display: flex;
    align-items: center;
    > span {
      font-size: 16px;
      font-weight: 500;
      color: var(--text-color);
    }
    > button {
      margin-left: auto;
      margin-right: 0;
    }
  }
  > main {
    margin-top: 22px;
  }
}
