.c7ncd-appCenterPro-deployGroup {
  margin-top: 30px;
  &__options {
    button {
      text-align: left;
      width: auto;
    }
    &__item {
      display: flex;
      align-items: flex-start;
      &__equal {
        margin: 0 7px;
        align-self: center;
      }
      &__delete {
        margin-left: 10px;
        cursor: pointer;
        align-self: center;
      }
    }
  }
}
