.c7ncd-appCenterPro-deployGroup {
  padding-bottom: 25px;
  position: relative;
  &__form {
    &__pipelineField {
      label {
        height: 32px;
      }
      .c7n-pro-input-number-prefix {
        left: 10px;
        width: auto;
      }
      .c7n-pro-field-label-wrapper {
        display: none;
      }
      input {
        padding-top: 0 !important;
        height: 32px !important;
        margin-left: 40px !important;
      }
    }
  }
  &__options {
    button {
      text-align: left;
      width: auto;
      position: relative;
      top: 10px;
    }
    table {
      width: 100%;
    }
    &__item {
      &__fieldDiv {
        flex: 1;
        .c7n-pro-input-wrapper {
          width: 100%;
        }
      }
      display: flex;
      align-items: flex-start;
      &__equal {
        margin: 0 7px;
        align-self: center;
      }
      &__delete {
        margin-left: 10px;
        cursor: pointer;
        align-self: center;
        color: #5365ea;
      }
    }
  }
}
