.c7ncd-appCenterPro-deployGroup {
  padding-bottom: 25px;
  &__options {
    button {
      text-align: left;
      width: auto;
      position: relative;
      top: 10px;
    }
    table {
      width: 100%;
    }
    &__item {
      &__fieldDiv {
        flex: 1;
        .c7n-pro-input-wrapper {
          width: 100%;
        }
      }
      display: flex;
      align-items: flex-start;
      &__equal {
        margin: 0 7px;
        align-self: center;
      }
      &__delete {
        margin-left: 10px;
        cursor: pointer;
        align-self: center;
        color: #5365ea;
      }
    }
  }
}
