.c7ncd-buildModal-content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  &__main {
   flex: 1;
    padding-left: 20px;
    &__divided {
      height: 1px;
      width: calc(100% + 40px);
      background: var(--divider);
      margin: 0 0 0 -20px;
    }
  }
}
