.c7ncd-appCenterPro-conDetail {
  &__nestForm {
    .c7n-pro-field-wrapper {
      margin-bottom: 10px !important;
    }
  }
  &__fileName {
    background: rgba(158, 173, 190, 0.08);
    width: 50%;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__fileIcon {
      i {
        margin-right: 6px;
      }
    }
  }
  .c7n-upload-list {
    display: none;
  }
  padding: 16px 12px;
  &__form {
    margin-top: 20px;
    &__col {
      display: flex;
      align-items: flex-start;
      span {
        align-self: center;
      }
      i {
        align-self: center;
      }
    }
  }
  &__productType {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .c7ncd-customSelect-container {
      margin-right: 20px;
    }
    &__item {
      width: 200px;
      padding: 10px 15px;
      border-radius: 4px;
      border: 1px solid var(--divider);
      img {
        width: 25px;
      }
      span {
        font-size: 13px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: var(--text-color);
      }
    }
  }
  &__productSource__item {
    width: 86px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--divider);
    img {
      width: 45px;
    }
    padding: 8px 0;
    p {
      margin: 4px 0 0 0;
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: var(--text-color);
    }
  }
}
