@prefixCls: c7ncd-app-center-appDetail;

.@{prefixCls} {
  &-tabs {
    flex: 1;
    padding: 0 12px 12px 12px;
    background: #fff;
    overflow: hidden;
    margin-left: 12px;
    border-radius: 4px;
  }
  .c7ncd-header-btns {
    top: 56px;
    left: auto;
    width: 90%;
    right: 0.2rem;
    position: fixed;
  }
}
