@prefixCls: c7ncd-app-center-appDetail;

.@{prefixCls} {
  &-tabs {
    flex: 1;
    padding: 12px;
    background: #fff;
    margin-left: 12px;
    border-radius: 4px;
    width: calc(100% - 280px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .c7ncd-header-btns {
    top: -58px;
    left: auto;
    width: fit-content;
    right: 3px;
    position: absolute;
  }
}
