.c7ncd-deployment-workload {

  &-tag {
    display: inline-block;
    color: var(--text-color);
    background: rgba(15, 19, 88, 0.06);
    font-size: .12rem;
    line-height: .2rem;
    padding: 0 .04rem;
    border-radius: 5px;
    max-width: .85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    & + & {
      margin-left: .06rem;
    }
  }
}
