.c7ncd-addCDTask-deployChart {
  margin-top: 16px;
  &__title {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    white-space: nowrap;
  }
  &__form {
    margin-top: 16px;
  }
  &__configContent {
    display: flex;
    align-items: center;
    form {
      margin-left: 11px;
    }
  }
  &__divided {
    width: calc(100% + 0.48rem);
    height: 1px;
    background: var(--divider);
    margin-left: -0.24rem;
    margin-bottom: 0.15rem;
  }
}
