.c7ncd-modify_values {
  &-instance-upgrade-select {
    width: 5.12rem;

    &-more {
      width: calc(100% + 0.24rem);
      display: block;
      margin: -0.04rem -0.12rem;
      padding: 0.04rem 0.12rem;
    }
  }
  &-instance-upgrade-tips {
    padding: 12px 16px;
    background-color: rgba(245, 246, 250, 1);
    font-size: 12px;
    color: #3a345f;
    & > strong {
      font-weight: 500;
    }
  }
}
