.c7ncd-appCenterPro-hostAppConfig {
  &__fileName {
    background: rgba(158, 173, 190, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .c7n-upload-list {
    display: none;
  }
}
