.c7ncd-appCenterPro-hostAppConfig {
  &__fileName {
    background: rgba(158, 173, 190, 0.06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .c7n-upload-list {
    display: none;
  }
  &__colonForm {
    label {
      span {
        color: rgba(15, 19, 88, 0.65);
      }
    }
    .c7n-pro-field-output {
      span {
        position: relative;
        top: 1px;
      }
    }
  }
}
