.c7ncd-pipelineCreate-deployGroup {
  &__title {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 16px !important;
    margin-top: 16px !important;
  }
  &__divided {
    width: calc(100% + 0.48rem);
    height: 1px;
    background: var(--divider);
    margin-left: -0.24rem;
    margin-bottom: 0.15rem;
  }
}
