.c7ncd-host-config-command {

  &-form {
   height: 100%;
  }

  &-tips {
    margin-bottom: .2rem;
  }

  &-label {
    font-size: .12rem;
    font-weight: 500;
    line-height: .2rem;
    margin-bottom: .1rem;
  }

  &-content {
    background: #f5f6fa;
    border-radius: 4px;
    padding: .12rem;
    color: rgba(15, 19, 88, 0.85);
    position: relative;
    height: 85%;
    word-break: break-all;
  }

  &-copy {
    position: absolute;
    right: 0.04rem;
    bottom: 0.16rem;

    & > .icon {
      font-size: .2rem !important;
    }
  }
}
