.c7ncd-host-config-command {

  &-form {
    position: relative;
  }

  &-tips {
    background: rgba(41, 190, 206, 0.08);
    border-radius: 8px;
    padding: .1rem .12rem;
    font-size: .12rem;
    color: #37b1ec;
    line-height: .2rem;
    margin-bottom: .2rem;
  }

  &-copy {
    position: absolute;
    right: 0.04rem;
    bottom: 0.65rem;
    z-index: 1;
    width: .2rem;
    height: .2rem !important;

    & > .icon {
      font-size: .14rem !important;
    }
  }
}
