.c7ncd-appIngress-table {
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    > .c7ncd-tag {
      margin-left: 10px;
    }
  }
}
