.c7ncd-appIngress-table {
  &-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    display: inline-block;
    > .c7ncd-tag {
      margin-left: 10px;
    }
  }
}
.c7ncd-tab-table-columnName {
  .c7n-pro-table-cell-inner-row-height-fixed {
    overflow: visible !important;
  }
}
