.c7ncd-cluster-nodesCreateBySingle {
  &-form {
    position: relative;
    > i {
      position: absolute;
      left: 64px;
    }
  }
  &-modal {
    .c7n-pro-modal-body {
      position: relative;
      height: calc(100vh - 1.2rem) !important;
    }
    &-errorMes {
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 13px;
      color: #f44336;
    }
  }
  &-node {
    margin-bottom: -13px;
    margin-top: 10px;
    > .c7n-pro-select-box {
      .c7n-pro-radio-wrapper:not(:first-of-type) {
        margin-left: 72px;
      }
    }
  }
}
