.c7ncd-appCenterPro-appConfig {
  &__env {
    &__text {
      margin: 0 0 0 4px;
      position: relative;
      top: 1px;
    }
  }
  &__selectContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    .c7ncd-customSelect-container {
      margin-right: 20px;
    }
    &__item {
      border: 1px solid var(--divider);
      border-radius: 4px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-bottom: 0;
      }
      img {
        width: 40px;
        p {
          margin-top: 5px;
        }
      }
    }
  }
  &__form {
    margin-top: 24px;
  }
}
