.c7ncd-appCenterPro-appConfig {
  &__selectContainer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    .c7ncd-customSelect-container {
      margin-right: 20px;
    }
    &__item {
      border: 1px solid var(--divider);
      border-radius: 4px;
      padding: 8px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 40px;
        p {
          margin-top: 5px;
        }
      }
    }
  }
  &__form {
    margin-top: 24px;
  }
}
