.c7ncd-appCenterPro-appCreateModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  .c7n-steps-item {
    margin-left: 0 !important;
  }
  .c7n-upload {
    .c7n-btn {
      i {
        left: unset !important;
      }
      span {
        margin-left: unset !important;
      }
    }
  }
}
