.c7ncd-timeTrigger {
    display: flex;
    flex-direction: column;
    &-title {
        flex: 1;
        display: flex;
        justify-content: space-between;
        &-textField {
            width: 243px;
        }
    }
    &-table {
        margin-top: 16px;
    }
}
