@import "../hzero-deploy/index";
@import "~choerodon-ui/lib/style/themes/default";
@popupPrefix: c7ncd-deploy-hzero;
@success_status: #1fc2bb;
@failed_status: #f76776;
@wait_status: rgba(15, 19, 88, 0.25);
@running: #4d90fe;

.@{popupPrefix}-detail {
  .@{popupPrefix}-status-icon {
    margin-left: auto;
    font-size: 0.2rem;
    color: @wait_status;

    &.success {
      color: @success_status;
    }
    &.failed {
      color: @failed_status;
    }
    &.created {
      color: @wait_status;
    }
    &.deploying {
      color: @running;
    }
  }

  .@{popupPrefix}-content {
    margin-top: 0.15rem;
    height: calc(100vh - 2.4rem);
  }

  .@{c7n-pro-prefix}-field-label-output {
    color: var(--text-color3);
  }

  .@{popupPrefix}-detail-form {
    padding-right: 0.2rem;

    td:nth-child(2) {
      width: 1.86rem;
    }
  }
  .normal {
    color: #0f1358;
  }
  .click {
    color: #5365ea;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #7e90f7;
    }
  }
  .@{popupPrefix}-detail-yaml {
    margin-top: 0.15rem;
  }
}
