.c7ncd-cluster-createByHost {
  &-modal {
    .c7n-pro-modal-body {
      position: relative;
      height: calc(100vh - 1.2rem) !important;
    }
    &-errorMes {
      position: absolute;
      bottom: 0;
      left: 10px;
      font-size: 13px;
      color: #f44336;
    }
  }
  form {
    table {
      .c7n-pro-field-wrapper {
        textarea {
          height: 36px;
          min-height: 36px;
        }
      }
    }
  }
}
