.c7ncd-cluster-createByHost {
  &-modal {
    .c7n-pro-modal-body {
      position: relative;
      height: calc(100vh - 1.2rem) !important;
      padding: 0 !important;
    }
  }
  &-headerForm {
    padding: 24px 24px 0 20px;
    &-desc {
      min-height: 50px;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    > i {
      margin-right: 10px;
    }
  }
  &-section {
    border-top: 0.01rem solid #e0e0e0;
    > header {
      display: flex;
      align-items: center;
      padding: 18px 18px 0 18px;
      margin-bottom: 10px;
      > * + * {
        margin-left: 10px;
      }
      > span {
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC, sans-serif;
        font-weight: 500;
        color: var(--text-color);
      }
    }
  }
  form {
    table {
      .c7n-pro-field-wrapper {
        textarea {
          height: 36px;
          min-height: 36px;
        }
      }
    }
  }
}
