@import "~choerodon-ui/lib/style/themes/default";

.c7ncd-appService-import-wrap {
  .c7ncd-import-gitlab-activate-note {
    border-radius: 8px;
    padding: 0.12rem;
    font-size: 0.12rem;
    font-weight: 400;
    line-height: 0.17rem;
    margin: 0 0 0.16rem;
    background: rgba(244, 133, 144, 0.08);
    color: #f48590;
    width: 70%;
  }
  &-radio {
    width: 1.5rem;
    display: inline-block;
  }
  .c7n-pro-btn.c7n-pro-btn.c7n-pro-btn-raised.c7n-pro-btn-default,
  .c7n-pro-btn.c7n-pro-btn.c7n-pro-btn-flat.c7n-pro-btn-default {
    display: flex;
    align-items: center;
  }
  table {
    width: 100%;
  }
  .c7ncd-appService-option-child {
    display: flex;
    .c7ncd-appService-newtips {
      margin-top: -2px;
      margin-left: 5px;
    }
  }
  .c7ncd-appService-select-custom-list {
    display: flex;
    flex-wrap: wrap-reverse;
    .c7ncd-customSelect-container {
      width: 30%;
      margin-right: 16px;
      margin-bottom: 16px;
    }
    .c7ncd-appService-select-custom-wrap {
      display: flex;
      align-items: center;
      height: 100%;
      border-radius: 4px;
      border: 1px solid #d9e6f2;
      position: relative;
      .c7ncd-appService-select-custom-image-wrapper {
        margin: 12px;
        img {
          width: 50px;
          height: 50px;
        }
      }
      .c7ncd-appService-select-custom-title {
        font-size: 14px;
        font-weight: 500;
        color: #0f1348;
      }
      .c7ncd-appService-select-custom-content {
        padding-top: 12px;
      }
      .c7ncd-appService-select-custom-tip {
        -webkit-line-clamp: 2; //（用来限制在一个块元素显示的文本的行数，2 表示最多显示 2 行。为了实现该效果，它需要组合其他的 WebKit 属性）
        display: -webkit-box; //（和 1 结合使用，将对象作为弹性伸缩盒子模型显示 ）
        -webkit-box-orient: vertical; //（和 1 结合使用 ，设置或检索伸缩盒对象的子元素的排列方式 ）
        overflow: hidden; //（文本溢出限定的宽度就隐藏内容）
        text-overflow: ellipsis; //（多行文本的情况下，用省略号 “…” 隐藏溢出范围的文本)
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(15, 19, 88, 0.65);
      }
    }
  }
  .c7ncd-appService-import-platform {
    .platform-button {
      margin-bottom: 0.24rem;
    }

    &-failed {
      color: #d50000;
      margin-left: 0.06rem;
    }

    &-selected {
      font-size: 0.16rem;
      font-weight: 500;
      line-height: 0.22rem;
      margin-bottom: 0.16rem;
    }

    &-table-select {
      width: 100%;
      height: 100%;
      border: none;

      .@{c7n-pro-prefix}-select {
        border-color: transparent;

        &:focus,
        &:active {
          border-color: #6374c2;
        }
      }
    }

    .@{c7n-pro-prefix}-select-required {
      background: none;
    }

    .@{c7n-pro-prefix}-output-invalid {
      color: #d50000 !important;
      background-color: #fcebeb !important;
      border: 0.01rem solid #d50000 !important;
    }
  }

  &-failed {
    color: #d50000;
    margin-top: 0.2rem;
    display: block;
  }

  &-column {
    display: flex;
    align-items: center;

    &-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-name {
      &:hover {
        cursor: pointer;
        color: #3f51b5;
      }
    }
  }
}

.c7ncd-appService-import-source {
  display: flex;
  align-items: center;

  &-icon {
    font-size: 0.2rem;
    margin-right: 0.02rem;
    color: #3f51b5;
    cursor: pointer;
  }
}

.c7ncd-appService-prefix-icon {
  font-size: 0.2rem;
}
