.c7ncd-cluster-nodesCreate {
  width: 740px;
  display: flex;
  &-modal {
    .c7n-pro-modal-body {
      position: relative;
      height: calc(100vh - 1.2rem) !important;
    }
  }
  &-left {
    width: 240px;
    flex-shrink: 0;
    background-color: #f8f8f8;
    padding: 0 0 8px 0;
    height: 316px;

    > main {
      max-height: 2.65rem;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-item {
      padding: 15px 10px 15px 20px;
      cursor: pointer;
      position: relative;
      &-errorIcon {
        line-height: 33px;
        color: #f77a70;
        position: absolute;
        right: 9px;
        top: 16px;
      }
      &-selected {
        background-color: #fff;
        position: relative;
        .c7n-pro-input-wrapper {
          background-color: #fff !important;
        }
        &:before {
          content: "";
          width: 4px;
          height: 30px;
          position: absolute;
          top: 19px;
          left: 10px;
          border-radius: 4px;
          background-color: #5266d4;
        }
        button {
          color: #5266d4;
        }
      }
      .c7n-pro-form-float-label .c7n-pro-field-wrapper {
        margin: 0 !important;
      }
      .c7n-pro-input-wrapper {
        background-color: #f8f8f8;
      }
    }
  }
  &-right {
    flex: 1;
    &-authType,
    &-nodeType {
      > .c7n-pro-select-box {
        .c7n-pro-radio-wrapper:not(:first-of-type) {
          margin-left: 72px;
        }
        .c7n-pro-checkbox-wrapper:not(:first-of-type) {
          margin-left: 65px;
        }
      }
    }
    &-authType {
      margin-top: 23px;
      margin-bottom: -13px;
    }
    &-nodeType {
      margin-top: 20px;
    }
  }
}
