.c7ncd-hostDockerCompose {
  &-title {
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: var(--text-color);
    &-tips {
      margin-left: 6px;
      position: relative;
      bottom: 1px;
    }
  }
}
