@prefixCls: ~"c7ncd-job-types-panel";

.@{prefixCls} {
  &-subMenu {
    cursor: pointer;
    &-empty {
      text-align: center;
      height: 50px;
      line-height: 50px;
      color: var(--text-color);
    }
    .c7n-menu-item,
    .c7n-menu-submenu-title {
      height: 32px !important;
      line-height: 32px !important;
    }
  }
}
