@prefixCls: ~'c7ncd-job-types-panel';

.@{prefixCls} {
  &-subMenu {
    .c7n-menu-item,
    .c7n-menu-submenu-title {
      height: 32px !important;
      line-height: 32px !important;
    }
  }
}
