@prefixCls: c7ncd-app-center-homepage-list;

.@{prefixCls} {
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
  grid-template-rows: max-content;
  column-gap: 0.14rem;
  row-gap: 0.12rem;
  margin-top: 0.12rem;
  &-pagination {
    text-align: center;
    margin-top: 20px;
  }
  &-card {
    background: #fff;
    box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
    border-radius: 4px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    aside {
      position: absolute;
      right: 13px;
      top: 17px;
    }
    header {
    }

    main {
      margin-top: 16px;
      border-radius: 4px;
      padding: 12px 13px;
      background: #fafbff;
      > div {
        display: flex;
        align-items: center;
        > span {
          font-size: 13px;
          font-weight: 400;
          &:first-of-type {
            color: var(--text-color3);
            flex-basis: 73px;
            flex-shrink: 0;
          }
          &:nth-of-type(2) {
            color: var(--text-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      > div + div {
        margin-top: 12px;
      }
    }
    &-appname {
      font-size: 14px;
      font-weight: 500;
      color: #5365ea;
      cursor: pointer;
      max-width: 85%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
