.c7ncd-configurationCenter {
  .c7ncd-action-link {
    height: 48px;
    line-height: 48px;
    i {
      font-size: 18px;
      color: '#5365EA';
    }
  }
  table {
    width: 100% !important;
  }
}
