body[data-theme=theme4] {
  .c7ncd-env-wrap {
    .c7ncd-env-sidebar {
      background: white;
    }
    .c7ncd-custom-header-placeholder {
      display: none;
    }
    .c7ncd-header-btns {
      text-align: right;
      top: -49px;
    }
  }
}
