@import "~choerodon-ui/lib/style/themes/default";

.c7ncd-repository-form {
  width: 38%;
  .@{c7n-pro-prefix}-select-box {
    display: flex;
    align-items: center;
    .@{c7n-pro-prefix}-radio-wrapper {
      flex: 1;
    }
  }
  &-btnContent {
    margin-bottom: 0.3rem;
    align-items: center;
    display: flex;
  }
  &-info {
    color: rgba(15, 19, 88, 0.85);
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 204, 199);
    background: rgb(254, 239, 241);
    border-radius: 0.04rem;
    padding: 0.095rem 0.5rem 0.095rem 0.15rem;
    width: fit-content;

    &-icon {
      color: #f44336;
      margin-right: 0.1rem;
    }
  }

  &-button {
    color: #3f51b5;
    margin-right: 0.2rem;
  }

  &-test {
    &-success {
      color: #00bfa5;
      vertical-align: text-bottom;
      margin-right: 0.02rem;
    }

    &-failed {
      color: #f44336;
      vertical-align: text-bottom;
      margin-right: 0.02rem;
    }
  }

  &-config {
    &-title {
      font-size: 0.16rem;
      font-weight: 500;
    }
  }
}

.c7ncd-repository-empty-page {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.32rem 0 0.6rem 0.12rem;
  &-title {
    font-size: 0.13rem;
    color: var(--text-color3);
    line-height: 0.2rem;
  }

  &-des {
    font-size: 0.16rem;
    line-height: 0.34rem;
    margin: 0.04rem 0 0.12rem;
  }
}
