@prefixCls: c7ncd-app-center-appMonitor-numberChart;

.@{prefixCls} {
  &-description {
    display: flex;
    justify-content: center;
    &-title {
      display: flex;
      position: absolute;
       top:120px;
      &-abnormal,
      &-stop {
        font-size: 13px;
        font-weight: 400;
        color: rgba(15, 19, 88, 0.65);
        
      }
      &-content{
        color:rgba(15, 19, 88, 1);
      }
      &-stop{
          margin-left:27px;
      }
    }
    &-image{
        display: flex;
        position: absolute;
        right: 0;
        top:120px;
    }
    &-abnormal{
        margin:0 10px;
    }
    &-stop{
        margin-left:10px;
    }
    // &-image{
    //     display: flex;
    //     &-abnormal{
    //         display: flex;
    //         align-items: center;
    //         margin-right:10px;
    //         &-top{
    //             width: 8px;
    //             height: 4px;
    //             background: #FFD900;
    //             &-inner{
    //                 position: absolute;
    //                 width: 4px;
    //                 height:4px;
    //                 margin-left:2px;
    //                 margin-top:2px;
    //                 background:white;
    //             }
    //         }
    //         &-bottom{
    //             margin-top:4px;
    //             margin-left:-2px;
    //             width: 8px;
    //             height: 4px;
    //             background: #FFD900;
    //             &-inner{
    //                 position: absolute;
    //                 width: 4px;
    //                 height:4px;
    //                 margin-left:8px;
    //                 margin-top:2px;
    //                 background:white;
    //             }
    //         }
    //         }
    //         &-stop{
    //             margin-right:10px;
    //             display: flex;
    //             align-items: center;
    //             &-top{
    //                 width: 8px;
    //                 height: 4px;
    //                 background: #F76776;
    //                 &-inner{
    //                     position: absolute;
    //                     width: 4px;
    //                     height:4px;
    //                     margin-left:2px;
    //                     margin-top:2px;
    //                     background:white;
    //                 }
    //             }
    //             &-bottom{
    //                 margin-top:4px;
    //                 margin-left:-2px;
    //                 width: 8px;
    //                 height: 4px;
    //                 background: #F76776;
    //                 &-inner{
    //                     position: absolute;
    //                     width: 4px;
    //                     height:4px;
    //                     margin-left:8px;
    //                     margin-top:2px;
    //                     background:white;
    //                 }
    //             }
    //             }
            
    //     }
    }
  }
