.c7ncd-repository-home {
  &-item {
    margin-bottom: .2rem;
    font-size: .14rem;

    &-text {
      color: var(--text-color3);
      width: 1.5rem;
      display: inline-block;
    }
  }
}
