body[data-theme=theme4] {
  .c7ncd-theme4-management {
    .hasHeader > .c7n-tabs-bar {
      top: 64 !important;
      background: white;
      width: 97%;
      margin: unset !important;
      left: 0.16rem;
    }
  }
}

