body[data-theme=theme4] {
  .c7ncd-theme4-management {
    .hasHeader > .c7n-tabs-bar {
      top: 0.7rem !important;
      background: white;
      margin: 0 16px;
      width: 100%;
      padding: 20px 32px;
    }
  }
}

