.c7ncd-sideStep {
  height: calc(100% + 40px);
  width: 92px;
  border-right: 1px solid var(--divider);
  margin-top: -20px;
  padding-top: 20px;
  &__item {
    display: flex;
    align-items: center;
    &__line {
      width: 2px;
      height: 12px;
      background: var(--primary-color);
      margin-right: 10px;
    }
    &__text {
      font-size: 13px;
      font-weight: 500;
      color: var(--primary-color);
    }
  }
}
