.c7ncd-applicationCenter-hostDetail {
  flex: 1;
  background: white;
  &__title {
    background: url('./images/bg.png');
    width: calc(100% - 24px);
    height: 92px;
    margin-left: 12px;
    margin-top: 12px;
    background-size: 100%;
    display: flex;
    align-items: center;
    &__name {
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      margin-left: 16.98%;
      display: inline-block;
      margin-bottom: 0;
    }
  }
  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__content {
    margin-left: 12px;
    padding-left: 16.98%;
    margin-top: 24px;
    &__name {
      font-size: 14px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
    }
  }
}
