.c7ncd-host-config-delete {
  &-notice {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), inset 4px 0 0 0 #f44336;
    height: 0.48rem;
    display: flex;
    align-items: center;
    padding-left: 0.14rem;

    i {
      color: #f44336;
      font-size: 0.2rem;
      margin-right: 0.14rem;
    }
  }

  &-input {
    margin: 0.08rem 0 0.24rem;
  }
}
