.c7ncd-pipelineTriggerNumber {
  &-table {
    margin-top: 0.35rem;
  }
  &-form {
    display: flex;
    &-content {
      width: 20.8%;
      margin-bottom: 20px;
      margin-right: 60px;
    }
  }
  .c7ncd-echarts-tooltip {
    display: inline-block;
    margin-right: 5px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
  }
}
